app = 'jqplay-next'
primary_region = 'iad'

[build]
dockerfile = "Dockerfile"

[deploy]
release_command = 'node node_modules/prisma/build/index.js migrate deploy'

[http_service]
internal_port = 3000
force_https = true
auto_start_machines = true
auto_stop_machines = "off"
min_machines_running = 2
processes = ['app']

[[vm]]
size = 'shared-cpu-1x'
memory = 512

[[http_service.checks]]
grace_period = "5s"
interval = "30s"
timeout = "5s"
method = "GET"
path = "/api/health"
