name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: package.json
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm install
      - name: Run lint
        run: npm run lint
      - name: Build project
        run: npm run build
#   release:
#     needs: [build]
#     uses: ./.github/workflows/release.yaml
#     if: github.ref == 'refs/heads/main'
#     secrets: inherit
